<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>module1_solution</title>
</head>
<body ng-app="LunchCheck">
  <div ng-controller="LunchCheckController">
    <div class="main">
      <h2 >Lunch Checker </h2>
      <p>I do NOT consider  empty items.</p>
      <Br />
      <div ng-style=textBoxStyle() class="textBox">
        <!--I do NOT consider  empty items.-->
          <input type="text"  placeholder="Enter Lunch items seperated by a comma ','" ng-model="lunch"  />
      </div>
      <Br />
      <button ng-click="checkLunch()" >Check If Too Much</button>
      <br />
      <div ng-style=getStyle() id="output">
        <br />
      {{output}}
      </div>
    </div>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
